# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Artifacts/
CrashReports/
sysinfo/

# =============== #
# IDE / Editor    #
# =============== #
.vs/
.vscode/
.idea/

# Rider project files
*.sln
*.csproj
*.unityproj
*.pidb
*.user
*.userprefs

# =============== #
# OS files        #
# =============== #
.DS_Store
Thumbs.db
